.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    cursor: pointer;
    border-bottom: 1px solid #dfdfdf;
  }
  
  .category-item:hover {
    background-color: #dfdfdf;
  }
  
  .category-item.active {
    background-color: #e7f5ff;
  }
  
  .category-name,
  .category-count {
    font-size: 14px;
    color: #1f2937;
  }
  
  .category-item.active .category-name,
  .category-item.active .category-count {
    color: #1e40af;
    font-weight: bold;
  }