.home-page {
  display: flex;
  flex-direction: column;
}

.home-content {
  background-color: #f5f5f5;
}

.content-container {
  max-width: 1425px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 30px;
  align-items: start;
}

.category {
  background-color: #f5f5f5;
  border-radius: 4px;
}

.category-title {
  font-size: 18px;
  font-weight: 700;
  color: #1f2937;
  padding: 20px 20px;
  border-bottom: 2px solid #dfdfdf;
}

.category-list {
  list-style: none;
}



.listings-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
